*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    max-width: 1000px;
    margin: auto;
}

.heading_text{
    font-size: 30px;
    font-weight: 600;
    text-align: center;  
}

.grand_parant{
    background-color: cornflowerblue;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 40px;
    text-align: center;

}
.parant{
    background-color: aquamarine;
    padding: 50px;
    
}
.line{
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
}
#textarea1{
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    padding: 0; 
}

.editor_feild{
    display: grid;
    grid-template-columns: auto auto auto;
    letter-spacing: 7px;     
    
}
input{
   width: 25px;
}
.myStyle{
    font-weight: bolder;
}
.font_style{
    text-decoration: underline;
}
